body {
  background-color: #023047;
  text-align: left;
  color: #219ebc;
}
p,
pre {
  font-weight: 200;
  font-size: 140%;
  color: #219ebc;
}

div {
  font-family: inherit;
}

.nameinitial { background-color: #023047;
  color: #fb8500;
  border: 2px solid #fb8500;
  margin-right: 750px;
  margin-top: 5px;
  padding: 11px 16px;
  border-radius: 50%;
  font-size: 150%;
  font-family: inherit;
}

  
.btn {
  float: right;
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-family: inherit;
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
}

/* On mouse-over */
.btn:hover {
  color: #8ecae6;
}

.about {
  color: #fb8500;
}
.experience {
  color: #fb8500;
}
.work {
  color: #fb8500;
}
.resume {
  color: #023047;
  background-color: #fb8500;
  border: none;
  padding: 14px 28px;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}

.icon {
  float: right;
  color: #023047;
  background-color: #fb8500;
  padding: 9px 12px;
  font-family: inherit;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  display: block;
}
.linkedin {
  margin-bottom: 5px;
}

.phone {
  margin-bottom: 5px;
}

.bottomicons {
  border: 1px solid #023047;
  height: 175px;
  width: 50px;
  text-align: center;
  position: relative;
 margin-left: 205%;
 margin-top: 20%;
}

.main {
  border: 1px solid #023047;
  height: 600px;
  width: 600px;
  margin-left: 50px;
  position: relative;
}

.column1 {
  color: #4287f5;
  text-align: left;
  margin-top: 150px;
  font-size: 170%;
}

.column2 {
  text-align: left;
  margin-top: 10px;
  font-size: 140%;
}

#bottom {
  position: absolute;
  bottom: -3;
  left: 0;
  font-size: 170%;
}

.buttons {
  margin-top: 0%;
  margin-left: 0%;
  height: 80px;
  width: 100%;
  border: 1px solid #023047;
  text-align: center;
}


/* #amenities-page {
  color: black;
} */
/* #properties-list {
  font-size: 90%;
} */
/* #school-image,
#restaurant-image,
#mall-image {
  width: 30%;
  height: 30%;
  border-radius: 3%;
} */
